# Pycaret 

Pycaret é uma biblioteca do Python que automatiza o fluxo de *machine learning* (aprendizado de máquina) com poucas linhas de código. Tal fato permite que os experimentos tornem-se mais rápidos, flexíveis e eficientes. Através desta biblioteca, é possível testar vários algoritmos ao mesmo tempo.

## Perspectivas de aplicação
1. Regressão;
2. Classificação;
3. Análise de cluster;
4. Séries temporais;
5. Detecção de anomalias.

## Documentação oficial

* https://pycaret.readthedocs.io/en/stable/

# Palestrante

## Sobre mim

* **Henrique Santos**. 
    * Doutor em Biometria e Estatística Aplicada pela Universidade Federal Rural de Pernambuco e analista sênio de crédito e prevenção à fraude da DESKTOP - empresa paulista que fornence internet banda larga para as cidades de São Paulo. Desde 2020 trabalha com ciência de dados.

## Contato

* E-mail: santos.henrique624@gmail.com
* LinkedIn: https://www.linkedin.com/in/henriquesantos2021/
* GitHub: https://github.com/santoshenrique2021

# Propósito do seminário

Este seminário introduz o *pycaret* aplicado a **problemas de classificação**, ou seja, predizer a classe de uma variável qualitativa (chamada de **ALVO** ou **TARGET** ou **variável resposta** ou **variável dependente**) através de um conjunto de variáveis preditoras (variáveis explicativas/variáveis independentes) que podem ser qualitativas ou quantitativas. Em linhas gerais, **o algoritmo produzirá uma probabilidade (escore ou pontuação) que indicará a classe da observação**.

**Nota** -O foco deste seminário são **problemas de classificação binária**. Assim, o **ALVO** apresenta duas categorias que são mutuamente exclusivas e coletivamente exaustivas - **abrange todo o espaço amostral**.

# Exemplos de problemas de classificação binária

* O cliente, ao adquirir um empréstimo, se tornará **adimplente** (bom pagador) ou **inadimplente** (mau pagador);
* O paciente, ao realizar um exame médico para detectar um tipo de doença, terá como diagnósitoco a **presença ou ausência da doença requerida**.

# Uilização acadêmica

## Publicações

* https://www.sciencedirect.com/science/article/pii/S0023643823006746 (2023)
* https://www.sciencedirect.com/science/article/abs/pii/S0030402623003698 (2023)
* https://www.sciencedirect.com/science/article/abs/pii/S0010482523005541 (2023)
* https://www.sciencedirect.com/science/article/pii/S0006497121039021 (2021)

# Demonstração da biblioteca


## Contextualização do exemplo

> **Contexto**: Prever se um paciente apresenta uma doença cardíaca.

> **Banco de dados**: Informações sobre 303 pacientes submetidos à angiografia (exame cardíaco). Desta forma, foram coletadas diversas informações médicas dos enfermos. 

> **Total de variáveis**: 14 variáveis - 13 explicativas e o ALVO.

* **Fonte dos dados** : *Heart Disease Cleveland*
    * https://pubmed.ncbi.nlm.nih.gov/2756873/
    * https://archive.ics.uci.edu/dataset/45/heart+disease
    * https://towardsdatascience.com/heart-disease-prediction-73468d630cfc
    
## Descrição das variáveis

1. **ALVO**: Variável binária que diz se o paciente sofre ou não de alguma doença cardíaca:
    * 1 - Paciente apresenta alguma doença cardíaca; 
    * 0 - Paciente não apresenta doença cardíaca.
2. **Age**: Variável quantitativa que informa a idade do paciente, mensurada em anos;
3. **Sex**: Variável binária que informa o sexo do paciente:
4. **Chest_pain**: Variável categórica relacionada ao tipo de dor no peito sentida pelo paciente, segmentada em quatro categorias;
5. **Resting Blood Pressure**: Variável quantitativa que mede a pressão arterial do paciente em estado de repouso, mensurada em milímetros de mercúrio (mm Hg);
6. **Serum_cholestrol**: Variável quantitativa que mede o colesterol do paciente, mensurada em miligramas por decilitro (mg/dL);
7. **Fasting_blood_sugar**: Variável binária que compara o valor de açúcar no sangue do paciente em jejum: 
    * HIGH - Se a glicose for maior que  120mg/dl;
    * LOW - Se a glicose for menor que  120mg/dl.
8. **Resting ECG**: Variável categórica relacionada ao resultado do eletrocardiograma do paciente em estado de repouso. Ela foi segmentada em três categorias; 
9. **Max_heart_rate_achieved**: Variável quantitativa que mede a frequência máxima cardíaca atingida pelo paciente, mensurada em bpm - batimentos por minuto;
10. **Exercise_induced_angina**: Variável binária que informa se o paciente sente uma dor cardiáca relacionada a execução de um esforço físico ou estado de extresse:
    * PAIN - presença de dor;
    * NO_PAIN - ausência de dor.
11. **ST_depression**: Variável quantitativa que mede a depressão do segmento ST induzida por exercício em relação repouso;
12. **Peak_exercise_ST_segment**: Variável categórica que descrimina o tipo de segmento ST. Ela apresenta em três categorias;
13. **Number_of_major_vessels**: Variável quantitativa que mede o número de vasos principais (0–3) coloridos por fluoroscopia;
14. **Thal**: Variável categórica relacionada a um grupo de doenças no sangue relacionada a anomalias na produção de hemoglobina, segmentada em três categorias.

## Fluxo do pycaret

A partir de um conjunto de dados, **divide-se a amostra em treino e teste**. O classificador é construído a partir das observações da base de treino e depois analisa-se sua performance na base de teste. Ao longo deste processo, **diversos métodos de previsão serão testados, incluíndo suas métricas de avaliação**.

# Pipeline da modelagem

## Imports

In [1]:
#Bibliotecas
import pandas as pd #Análise de dados
import numpy as np  #Análise de dados
from pycaret.classification import * #Modelagem (machine learning)

## Visão geral dos dados

In [2]:
#Importar os dados
df = pd.read_csv("dados_pycaret.csv", sep = ',')
#Visualizar as 4 primeiras linhas da base de dados
df.head(4) #Quando o ALVO apresenta o valor igual 1, pode-se afirmar que a observação apresenta a doença cardíaca.

,Age,Sex,Chest_pain,Resting_blood_pressure,Serum_cholestrol,Fasting_blood_sugar,Resting_ECG,Max_heart_rate_achieved,Exercise_induced_angina,ST_depression,Peak_exercise_ST_segment,Number_of_major_vessels,Thal,ALVO
0,63,MALE,LEVEL_1,145,233,HIGH,LEVEL_2,150,NO_PAIN,2.3,LEVEL_3,0.0,LEVEL_6,0
1,67,MALE,LEVEL_4,160,286,LOW,LEVEL_2,108,PAIN,1.5,LEVEL_2,3.0,LEVEL_3,1
2,67,MALE,LEVEL_4,120,229,LOW,LEVEL_2,129,PAIN,2.6,LEVEL_2,2.0,LEVEL_7,1
3,37,MALE,LEVEL_3,130,250,LOW,LEVEL_0,187,NO_PAIN,3.5,LEVEL_3,0.0,LEVEL_3,0

## Estatística descritiva

In [3]:
#Total de observações 
df.shape[0] #303

303

In [4]:
#Percentual de missing de cada variável no data frame
((df.isnull() | df.isna()).sum() * 100 / df.index.size).round(2)

Age                         0.00
Sex                         0.00
Chest_pain                  0.00
Resting_blood_pressure      0.00
Serum_cholestrol            0.00
Fasting_blood_sugar         0.00
Resting_ECG                 0.00
Max_heart_rate_achieved     0.00
Exercise_induced_angina     0.00
ST_depression               0.00
Peak_exercise_ST_segment    0.00
Number_of_major_vessels     1.32
Thal                        0.66
ALVO                        0.00
dtype: float64

In [5]:
#Tipo das variáveis
df.info() 
#int64 implica que a variável inteira; 
#float64 implica que a variável é contínua;
#object implica que a variável é string (texto) - no nosso contexto, é categórica.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       303 non-null    int64
 1   Sex                       303 non-null    object
 2   Chest_pain                303 non-null    object
 3   Resting_blood_pressure    303 non-null    int64
 4   Serum_cholestrol          303 non-null    int64
 5   Fasting_blood_sugar       303 non-null    object
 6   Resting_ECG               303 non-null    object
 7   Max_heart_rate_achieved   303 non-null    int64
 8   Exercise_induced_angina   303 non-null    object
 9   ST_depression             303 non-null    float64
 10  Peak_exercise_ST_segment  303 non-null    object
 11  Number_of_major_vessels   299 non-null    float64
 12  Thal                      301 non-null    object
 13  ALVO                      303 non-null    int64
dtypes: float64(2), int64(5), object(7)
memory usage: 33.3+ KB

In [6]:
#Frequência relativa de ocorrência do ALVO (Taxa de ocorrência do ALVO)
round(100*(df['ALVO'].value_counts())/df['ALVO'].shape[0],0) #46% dos pacientes apresentam alguma doença cardíaca

0    54.0
1    46.0
Name: ALVO, dtype: float64

In [7]:
#Sumário estatístico de uma variável quantitativa 
df['Max_heart_rate_achieved'].describe() ##Frequência máxima cardíaca

count    303.000000
mean     149.607261
std       22.875003
min       71.000000
25%      133.500000
50%      153.000000
75%      166.000000
max      202.000000
Name: Max_heart_rate_achieved, dtype: float64

In [8]:
#Categorias de uma variável categórica
df['Chest_pain'].drop_duplicates() ##Dor no peito

0    LEVEL_1
1    LEVEL_4
3    LEVEL_3
4    LEVEL_2
Name: Chest_pain, dtype: object

In [9]:
#Frequência absoluta de uma variável categórica
df['Chest_pain'].value_counts() #Dor no peito

LEVEL_4    144
LEVEL_3     86
LEVEL_2     50
LEVEL_1     23
Name: Chest_pain, dtype: int64

In [10]:
#Frequência relativa de uma variável categórica
round(100*(df['Chest_pain'].value_counts())/df['Chest_pain'].shape[0],0) #Dor no peito

LEVEL_4    48.0
LEVEL_3    28.0
LEVEL_2    17.0
LEVEL_1     8.0
Name: Chest_pain, dtype: float64

In [11]:
#Análise bivariada - cruzar o ALVO com alguma variável explicativa
#Distribuição do ALVO para cada nível da variável categórica
alvo_dor_no_peito = round(df.groupby(['Chest_pain'])['ALVO'].value_counts(normalize=True) * 100,0)
alvo_dor_no_peito.head(8) ##Dor no peito vs ALVO

Chest_pain  ALVO
LEVEL_1     0       70.0
            1       30.0
LEVEL_2     0       82.0
            1       18.0
LEVEL_3     0       79.0
            1       21.0
LEVEL_4     1       73.0
            0       27.0
Name: ALVO, dtype: float64

**Insight**: O LEVEL_4 da variável dor no peito (*Chest pain*), em 73% dos casos, mostrou que as observações tinham doença cardíaca.

# Pycaret

## 1. Setup

Cria todo o pipeline relacionado ao pré-processamento dos dados e apresenta dois parâmetros mandatórios:

* **data** - tabela de dados (data frame);
* **target** - ALVO.

In [ ]:
#Detalhes de todos os parâmetros da função setup
setup??

In [12]:
exp = setup(data = df, target= "ALVO", normalize= True, experiment_name = "EXP_01_WANDA_2023", session_id= 1935, train_size = 0.65)

### Recomendações 

* Recomenda-se que a variável categórica esteja no tipo object;
* Não colocar o nome das categorias da variável qualitativa como número. Por exemplo, dor no peito: 1, 2, 3 e 4.

### Procedimentos realizados
* Normalizar as variáveis numéricas (tipo normal-padrão):  
    * z = (x - u) /s;
* Base de treino: 65% das observações;
* Base de teste: 35% das observações;
* Transformação das variáveis categóricas em binárias (**one-hot-encoding**).

### Objetos criados

Configuração dos objetos criados após o pré-processamento.

**Base de treino**

In [13]:
#Base de treino
df_treino = get_config('train')
#Total de observações
df_treino.shape[0] #196

196

In [14]:
#Visualização
df_treino.head(4)

,Age,Sex,Chest_pain,Resting_blood_pressure,Serum_cholestrol,Fasting_blood_sugar,Resting_ECG,Max_heart_rate_achieved,Exercise_induced_angina,ST_depression,Peak_exercise_ST_segment,Number_of_major_vessels,Thal,ALVO
0,49,MALE,LEVEL_3,120,188,LOW,LEVEL_0,139,NO_PAIN,2.0,LEVEL_2,3.0,LEVEL_7,1
1,39,FEMALE,LEVEL_3,138,220,LOW,LEVEL_0,152,NO_PAIN,0.0,LEVEL_2,0.0,LEVEL_3,0
2,52,MALE,LEVEL_4,125,212,LOW,LEVEL_0,168,NO_PAIN,1.0,LEVEL_1,2.0,LEVEL_7,1
3,41,MALE,LEVEL_4,110,172,LOW,LEVEL_2,158,NO_PAIN,0.0,LEVEL_1,0.0,LEVEL_7,1

In [15]:
#Frequência do ALVO - base de treino
round(100*(df_treino['ALVO'].value_counts())/df_treino['ALVO'].shape[0],0) #Taxa do ALVO 46%

0    54.0
1    46.0
Name: ALVO, dtype: float64

In [16]:
#Salvar a base de treino
df_treino.to_csv('base_treino.csv', header=True, index=False, sep=';')

**Base de teste**

In [17]:
#Base de teste
df_teste = get_config('test')
#Total de observações
df_teste.shape[0] #107

107

In [18]:
#Visualização
df_teste.head(4)

,Age,Sex,Chest_pain,Resting_blood_pressure,Serum_cholestrol,Fasting_blood_sugar,Resting_ECG,Max_heart_rate_achieved,Exercise_induced_angina,ST_depression,Peak_exercise_ST_segment,Number_of_major_vessels,Thal,ALVO
196,68,MALE,LEVEL_3,118,277,LOW,LEVEL_0,151,NO_PAIN,1.0,LEVEL_1,1.0,LEVEL_7,0
197,62,FEMALE,LEVEL_4,140,394,LOW,LEVEL_2,157,NO_PAIN,1.2,LEVEL_2,0.0,LEVEL_3,0
198,61,FEMALE,LEVEL_4,130,330,LOW,LEVEL_2,169,NO_PAIN,0.0,LEVEL_1,0.0,LEVEL_3,1
199,38,MALE,LEVEL_3,138,175,LOW,LEVEL_0,173,NO_PAIN,0.0,LEVEL_1,NaN,LEVEL_3,0

In [19]:
#Frequência do ALVO - base de teste
round(100*(df_teste['ALVO'].value_counts())/df_teste['ALVO'].shape[0],0) #Taxa do ALVO 46%

0    54.0
1    46.0
Name: ALVO, dtype: float64

In [20]:
#Salvar a base de teste
df_teste.to_csv('base_teste.csv', header=True, index=False, sep=';')

**Vsiualização dos dados transformados**

In [21]:
#Variáveis explicativas transformadas da base de treino
x_treino_transformada = get_config('X_train_transformed')
x_treino_transformada.head(4)

,Age,Sex,Chest_pain_LEVEL_3,Chest_pain_LEVEL_4,Chest_pain_LEVEL_1,Chest_pain_LEVEL_2,Resting_blood_pressure,Serum_cholestrol,Fasting_blood_sugar,Resting_ECG_LEVEL_0,...,Max_heart_rate_achieved,Exercise_induced_angina,ST_depression,Peak_exercise_ST_segment_LEVEL_2,Peak_exercise_ST_segment_LEVEL_1,Peak_exercise_ST_segment_LEVEL_3,Number_of_major_vessels,Thal_LEVEL_7,Thal_LEVEL_3,Thal_LEVEL_6
0,-0.631355,0.704403,1.621613,-0.940540,-0.298142,-0.458123,-0.643981,-1.071874,0.441726,1.052391,...,-0.422276,-0.728869,0.758256,1.031095,-0.902671,-0.26653,2.610225,1.256562,-1.119318,-0.243843
1,-1.804298,-1.419642,1.621613,-0.940540,-0.298142,-0.458123,0.383128,-0.477305,0.441726,1.052391,...,0.150652,-0.728869,-0.910673,1.031095,-0.902671,-0.26653,-0.735922,-0.795822,0.893401,-0.243843
2,-0.279472,0.704403,-0.616670,1.063219,-0.298142,-0.458123,-0.358673,-0.625947,0.441726,1.052391,...,0.855796,-0.728869,-0.076209,-0.969842,1.107823,-0.26653,1.494842,1.256562,-1.119318,-0.243843
3,-1.569709,0.704403,-0.616670,1.063219,-0.298142,-0.458123,-1.214598,-1.369159,0.441726,-0.950217,...,0.415081,-0.728869,-0.910673,-0.969842,1.107823,-0.26653,-0.735922,1.256562,-1.119318,-0.243843

## 2. Compare models

Avalia o desempenho dos algoritmos disponíveis considerando os dados da base treino. Simplifica o processo de escolha do melhor método para o conjunto de dados.

**Nota**: Melhor método consiste no método que apresenta os melhores resultados nas métricas de performance.

In [22]:
compare_models() #16 modelos

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=-1, oob_score=False,
                       random_state=1935, verbose=0, warm_start=False)

### F1

$ \textbf{Precisão} = \frac{VP}{VP + FP} $

* *VP*- verdadeiro positivo (o modelo previu certa a classe da observação); 
* *FP*- falso positivo (o modelo previu errada a classe da observação).

## 3. Create model

Cria o modelo de machine learning através da abordagem do uso K-fold cross validation.

### Catboost

In [ ]:
#Obtidos a patir da base de treino
model_1 = create_model('catboost')

In [ ]:
#Resultados da base de teste
predict_model(model_1, data = df_teste); #86% de precisão

**Insight**: Comparar os resultados da base de treino com a base de teste. É sempre desejado que ambos os resultados (métricas de classificação) estejam próximas.

## 4. Tune model

Ajusta (tunar) os hiperparâmetros do modelo criado, encontrando uma nova combinação de parâmetros.

In [ ]:
tune_model_1 = tune_model(model_1)

In [ ]:
#Resultados da base de teste
predict_model(tune_model_1, data = df_teste); #84% de precisão

In [ ]:
evaluate_model(model_1)

In [ ]:
plot_model(model_1, plot = 'confusion_matrix')

In [ ]:
predict_model(model_1)

In [ ]:
final_model = finalize_model(model_1)

In [ ]:
save_model(model_1, 'my_best_pipeline')

In [ ]:
plot_model(model_1, plot = 'ks')

In [ ]:
plot_model(tune_model_1, plot = 'ks', use_train_data = True)

## Modeling

### Environment

### Compare models

### Create a model

In [ ]:
lr = create_model('lr')

In [ ]:
plot_model(lr)

In [ ]:
v1